---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


pre, code { font-size: 15px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #f5f5f5; }
.highlighter-rouge .highlight { background: #f5f5f5; }